h1 {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #ffff;
}
h2 {
  font-family: "Monoton", cursive;
  font-size: 45px;
  color: #ffff;
  text-align: center;
}
h3 {
  font-family: "Monoton", cursive;
  text-align: center;
  padding-top: 40px;
  padding-right: 50px;
  color: #ffff;
}
.Weather canvas {
  margin: 5px;
}

.temperature {
  position: relative;
  padding-left: 35px;
  font-size: 65px;
}

#geolocation {
  color: orange;
}

.units {
  position: relative;
  margin-top: -40px;
  padding-left: 230px;
  font-size: 15px;
}
.units .active {
  color: #ffff;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
ul {
  position: relative;
  padding-left: 150px;
  padding-bottom: 35px;
  margin: 0;
  color: #ffff;
}
li {
  list-style: none;
  font-family: "Monoton", cursive;
}

.box {
  display: block;
  max-width: 400px;
  margin: 200px auto;
  margin-bottom: 50px;
  padding: 50px 1px;
  background-image: url(https://i.pinimg.com/564x/44/fd/75/44fd75685df44dcfc6948d40acdfd43c.jpg);
  border: 3px solid #84a89e;
  border-radius: 12px;
}

footer {
  display: flex;
  padding-left: 70px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
